* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: content-box;
      
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

background: #ffffff;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 227, 209, 1) 100%);

}

.justify-display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;

    flex-direction: column;
}

table {
    margin: 1rem;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

td {
    border: 1px solid rgb(177, 177, 177);
    padding: 1rem;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
}

@keyframes fadeIn {
  from { transform: scale(0.8); }
  to   { transform: scale(1) }
}

.green-letter, .yellow-letter, .red-letter {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out 0s;
}

.green-letter {
    background-color: #93ffc9;
}
.yellow-letter {
    background-color: #f4ff93;
}
.red-letter {
    background-color: #ff9393;
}