* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: content-box;
      
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 227, 209, 1) 100%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.justify-display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;

    flex-direction: column;
}

h1 {
    font-size: 2vw;
}

table {
    margin: 1vw;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

td {
    border: 1px solid rgb(177, 177, 177);
    padding: 1vw;
    font-size: 3vw;
    width: 4vw;
    height: 4vw;
    text-align: center;
}

.green-letter, .yellow-letter, .red-letter {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    animation: scaleUp 0.5s ease-in-out 0s;
}

.green-letter {
    background-color: #93ffc9;
}
.yellow-letter {
    background-color: #f4ff93;
}
.red-letter {
    background-color: #ff9393;
}

#win-menu, #defeat-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    font-size: 10vw;
    color: white;
    display: none;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
#win-menu.show, #defeat-menu.show {
    display: flex;
    animation: fadIn 3s ease-in-out 0s;
}

@keyframes scaleUp {
  from { transform: scale(0.8); }
  to   { transform: scale(1) }
}
@keyframes fadIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}