* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: content-box;
      
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 227, 209, 1) 100%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    color: #3d3d3d ;

    text-transform: uppercase;
}

.justify-display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;

    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

table {
    margin: 1rem;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

td {
    border: 1px solid rgb(177, 177, 177);
    padding: 1rem;
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
}

input {
    width: 30rem;
    height: 5rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #3d3d3d ;

    display: none;
}

input:focus {
    outline: none;
}

input.hide {
    animation: fadOut 2.5s ease-in-out 0s forwards;
}

.green-letter, .yellow-letter, .red-letter {
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    animation: scaleUp 0.5s ease-in-out 0s;
}

.green-letter {
    background-color: #93ffc9;
}
.yellow-letter {
    background-color: #f4ff93;
}
.red-letter {
    background-color: #ff9393;
}

#win-menu, #defeat-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    color: white;
    display: none;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    h2 {
        font-size: 10vw;
    }
    span {
        font-size: 4vw;
        text-align: center;
    }
    span#game-lost-text{
        background-color: #93ffc9;
    }
}
#win-menu.show, #defeat-menu.show {
    display: flex;
    flex-direction: column;
    animation: fadIn 3s ease-in-out 0s;
}

@keyframes scaleUp {
  from { transform: scale(0.8); }
  to   { transform: scale(1) }
}
@keyframes fadIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@media screen and (max-width: 1000px) {
    table {
        margin: 1rem 0;
    }
    td {
        width: 15vw;
        height: 15vw;
        font-size: 10vw;
        padding: 0;
    }
    input {
        width: 80vw;
        font-size: 10vw;
    }
}